/* Buttons */
$icon-spacing: 16px;

a.button,
button {
  align-content: center;
  align-items: center;
  background-color: transparentize($color: $color-primary-light, $amount: 1);
  border: 1px solid $color-primary;
  border-radius: 9999px;
  color: $color-primary;
  cursor: pointer;
  display: flex;
  line-height: 1em;
  max-width: max-content;
  padding: $spacing-base #{$icon-spacing * 2};
  padding-bottom: $spacing-base / 1.5;
  padding-top: $spacing-base / 1.5;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $font-family, sans-serif;
  letter-spacing: 0;
  transition: background-color $animation-duration, box-shadow $animation-duration, color $animation-duration, border-color $animation-duration, scale $animation-duration, -webkit-transform $animation-duration, outline-width #{$animation-duration / 2} ease, outline-offset #{$animation-duration / 2} ease;
  -webkit-transition: background-color $animation-duration, box-shadow $animation-duration, color $animation-duration, border-color $animation-duration, -webkit-transform $animation-duration, outline-width #{$animation-duration / 2} ease, outline-offset #{$animation-duration / 2} ease;
  font-weight: $font-weight-bold;
  display: flex !important;
  flex-direction: row !important;
  text-decoration: none;
  outline-offset: $outline-border-width;
  outline-width: 0;

  &:hover,
  &:focus {
    background-color: $color-primary-light;
    box-shadow: $elevation-2;
    color: $color-primary-foreground;
    border-color: $color-primary-light;

    .icon svg {
      fill: $color-primary-foreground;
    }
  }

  &:active {
    background-color: $color-primary-dark;
    box-shadow: $elevation-3;
    color: $color-primary-foreground;
  }

  .icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: $icon-spacing;

    svg {
      fill: $color-primary;
      height: $icon-height;
      width: auto;
      transition: fill $animation-duration;
    }
  }

  &.right {
    padding-right: #{$icon-spacing * 1.5};

    .icon {
      margin-left: $icon-spacing;
      margin-right: 0;
    }
  }

  .text {
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.disabled,
  &:disabled {
    box-shadow: none;
    color: $color-primary-disabled-foreground;
    background-color: $color-primary-disabled;
    cursor: unset;
    pointer-events: none;

    .icon svg {
      fill: $color-primary-disabled-foreground;
    }
  }

  &:focus-visible {
    outline-offset: $outline-border-width;
  }
}

.button-caption {
  color: $color-text-caption;
  font-size: $font-size-caption;
  margin-top: -$spacing-base;
  margin-bottom: $spacing-base * 4;
  text-align: center;
}

article {
  .button {
    text-align: center;
    margin-top: $spacing-base * 4;
    margin-bottom: $spacing-base * 2;
    margin-left: auto;
    margin-right: auto;
  }
}
