/* Focus */
:focus {
  outline: none;

  &:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: $outline-border-width solid $color-focus;
    //outline-offset: $outline-border-width;
  }
}
:focus-visible {
  outline: $outline-border-width solid $color-focus;
  outline-offset: $outline-border-width;
}

/* Selection */
::selection {
  background-color: $color-selection;
}
