footer {
  width: 100%;
  color: $color-text-caption;
  padding-top: $spacing-base * 2;
  padding-bottom: $spacing-base * 2;
  font-size: $font-size-caption;
  line-height: 1em;
  text-align: center;

  @media print {
    display: none !important;
  }

  .footer-quick-links {
    display: flex;
    flex-direction: row;
    gap: $spacing-base * 2;
    align-items: center;
    justify-content: center;

    a {
      color: currentColor;

      &:hover {
        color: $color-link-hover;
      }

      &:active {
        color: $color-link-active;
      }
    }

    @media (max-width: $breakpoint-phone-portrait) {
      flex-direction: column;
      row-gap: $spacing-base;
    }
  }

  .container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-base;

    hr {
      border-width: 1px;
      border-color: $color-text-caption;
      opacity: 0.5;
      width: 30%;
      min-width: 180px;

      @media (max-width: $breakpoint-phone-portrait-small) {
        min-width: 50px;
      }
    }

    .label-logo {
      width: 100px;
      color: currentColor;

      svg,
      svg path,
      svg g {
        fill: currentColor;
      }

      &:hover,
      &:focus {
        color: $color-link-hover;
      }

      &:active {
        color: $color-link-active;
      }
    }

    .social-networks-icons {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $spacing-base;
      justify-content: center;

      a {
        color: $color-text-caption;

        &:hover {
          color: $color-link-hover;
        }

        &:active {
          color: $color-link-active;
        }
      }
    }

    .label-logo {
      margin-top: $spacing-base;
    }
  }
}
