header {
  //background-image: url('/img/bg/header.png');
  background-position: bottom;
  padding-top: $spacing-base * 2;
  padding-bottom: $spacing-base * 2;
  width: 100%;
  font-size: $font-size * 1.15;
  //height: 300px;

  @media print {
    padding-bottom: 0 !important;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //align-content: center;
    //align-items: center;
    width: 100%;
    gap: $spacing-base * 2;


    .title {
      display: block;
      min-width: 200px;
      max-width: 200px;
    }

    ul.header-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: $spacing-base * 2;
      //flex-grow: 1;
      line-height: 0.6em;
      margin-top: -0.3em;

      @media print {
        display: none !important;
      }

      a {
        text-decoration: none;
        color: $color-text;
        text-shadow: 0px 2.5px 0px $color-background;

        &.current {
          color: $color-link;
        }

        &:hover {
          color: $color-link-hover;
        }

        &:active {
          color: $color-link-active;
        }
      }
    }

    ul.header-icons {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      gap: $spacing-base * 1.5;
      margin: 0;
      padding: 0;
      line-height: 1em;
      color: $color-text;

      li {
        display: block;

        a {
          color: currentColor;
          line-height: $icon-height;
          display: block;
          filter: drop-shadow(0px 2.5px 0px $color-background);

          .icon {
            width: $icon-height * 1.25;
            height: $icon-height * 1.25;
          }

          &:hover {
            color: $color-link-hover;
          }

          &:active {
            color: $color-link-active;
          }
        }
      }
    }

    input.menu-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: none;
      pointer-events: none;

      @media print {
        display: none !important;
      }
    }

    label.menu-show {
      display: none;
      cursor: pointer;

      .icon {
        height: $icon-height * 1.25;
        width: $icon-height * 1.25;
      }

      &:hover {
        color: $color-link-hover;
      }

      &:active {
        color: $color-link-active;
      }

      @media print {
        display: none !important;
      }
    }

    label.menu-close {
      display: none;
      cursor: pointer;
      position: absolute;
      right: $spacing-base * 2;

      .icon {
        height: $icon-height * 1.25;
        width: $icon-height * 1.25;
      }

      &:hover {
        color: $color-link-hover;
      }

      &:active {
        color: $color-link-active;
      }

      @media print {
        display: none !important;
      }
    }

    @media (max-width: $breakpoint-navbar) {
      label.menu-show {
        display: block;
      }

      ul.header-menu {
        display: none;
      }

      ul.header-icons {
        display: none;
      }
    }

    &.mobile {
      z-index: 9999;
      background-color: transparentize(rgb(18, 15, 13), 0.1);
      backdrop-filter: $blur-3;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      padding: $spacing-base * 2;
      justify-content: flex-start;
      font-size: 1.25em;

      @media print {
        display: none !important;
      }

      ul.header-menu {
        margin-top: $spacing-base * 2;
        display: flex;
        flex-direction: column;
      }

      ul.header-icons {
        margin-top: $spacing-base * 4;
        display: flex;
        gap: $spacing-base * 2;

        .icon {
          height: $icon-height * 2;
          width: $icon-height * 2;
        }
      }

      label.menu-show {
        display: none !important;
      }

      label.menu-close {
        display: block !important;
      }
    }
  }
}
