.home {
  text-align: center;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    gap: 40px;
    text-align: center;

    .featured-release {
      max-width: 40%;
      min-width: 250px;
      width: 40%;
      box-shadow: $elevation-3;
      border-radius: $border-radius;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }

    .album-title {
      min-width: 320px;
      width: 50%;
      border-radius: $border-radius;

      img {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }
  }

  .more-info {
    margin-top: $spacing-base * 2;
  }

  .home-press-quotes {
    margin-top: $spacing-base * 2;
  }

  // .home-photo {
  //   margin-top: $spacing-base * 2;
  //   //max-width: 600px;
  //   width: 50%;
  //   margin-left: -$spacing-base * 2;
  //   margin-right: -$spacing-base * 2;
  // }

  a.cd-ad {
    margin-top: $spacing-base * 2;
    padding: $spacing-base;
    padding-top: $spacing-base;
    display: flex;
    flex-direction: row;
    gap: $spacing-base;
    align-items: center;
    border-radius: $border-radius * 2;
    border: 1px solid transparentize($color-primary, 0);
    color: $color-text;
    transition: background-color $animation-duration, color $animation-duration, border-color $animation-duration, outline-width #{$animation-duration / 2} ease, outline-offset #{$animation-duration / 2} ease;
    outline-offset: $outline-border-width;
    outline-width: 0;

    &:focus-visible {
      outline-width: $outline-border-width;
    }

    .icon {
      display: block;
      height: $icon-height * 2;
      width: $icon-height * 2;
      transition: transform #{$animation-duration * 2} ease;
    }

    .cd-add-text {
      text-align: left;

      .cd-add-text-line1 {
        font-weight: bold;
      }
      .cd-add-text-line2 {
        font-size: $font-size-caption;
        color: $color-text-caption;
      }
    }

    &:hover {
      border-color: $color-link-hover;
      color: $color-link-hover;
      background: transparentize($color-primary, 0.9);

      .icon {
        transform: rotate(360deg);
      }
    }
    &:active {
      color: $color-link-active;
      background: transparentize($color-primary, 0.85);

      .icon {
        transform: rotate(720deg);
      }
    }
  }
}
