/* Lists */
ul,
ol {
  margin-bottom: 1rem;
  margin-left: 1rem;

  li {
    margin-bottom: 0.25rem;

    &::marker {
      color: var(--text-caption);
    }
  }
}

ul {
  list-style: disc none;
}

ol {
  list-style: decimal none;
}
