ul.music-list-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: $spacing-base * 2;
  flex-wrap: wrap;
  justify-content: center;

  li.music-list-item {
    display: flex;
    flex-direction: column;

    a.music-list-item-content {
      height: 300px;
      width: 300px;
      position: relative;
      border-radius: $border-radius / 2;
      overflow: hidden;
      box-shadow: $elevation-2;

      img.music-list-item-cover {
        width: 100%;
      }

      .music-list-item-metadata {
        line-height: 1em;
        width: 100%;
        height: 100%;
        background-color: transparentize($color-background, 0.2);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        padding: $spacing-base;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: $spacing-base;
        transition: opacity #{$animation-duration} ease;

        .music-list-item-title {
          line-height: 1em;
          color: $color-link;
          font-size: $font-size * 1.5;
          text-align: center;
        }

        .music-list-item-info {
          display: flex;
          flex-direction: row;
          gap: $spacing-base / 2;
          align-content: center;
          align-items: center;

          .music-list-item-type {
            background-color: $color-background;
            border-radius: $border-radius / 2;
            color: $color-text;
            letter-spacing: unset;
            font-weight: bold;
            font-family: $font-family-display;
            font-size: $font-size-caption * 0.8;
            overflow: hidden;
            padding: #{$spacing-base / 4} #{$spacing-base / 2} #{$spacing-base / 4} #{$spacing-base / 2};
          }

          .music-list-item-date {
            font-weight: normal;
            color: $color-text;
            font-size: $font-size-caption;
          }
        }
      }

      &:hover {
        .music-list-item-metadata {
          opacity: 1;
        }
      }
    }
  }
}
