.press-release-list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.press-release-list-item {
  .press-release-list-item-content {
    display: flex;
    flex-direction: row;
    color: $color-text;
    align-items: center;

    .press-release-list-item-title {
      color: currentColor;
      margin-bottom: $spacing-base / 4;
    }

    .press-release-list-item-date {
      color: $color-text-caption;
      min-width: 120px;
    }

    &:hover {
      color: $color-link;
    }
  }
}
