.release-type {
  background-color: $color-background;
  border-radius: $border-radius / 2;
  color: $color-text;
  letter-spacing: unset;
  font-weight: bold;
  font-family: $font-family-display;
  font-size: $font-size-caption * 0.8;
  overflow: hidden;
  padding: #{$spacing-base / 4} #{$spacing-base / 2} #{$spacing-base / 4} #{$spacing-base / 2};
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  gap: $spacing-base / 2;
  align-items: center;
  user-select: none;

  .icon {
    height: $icon-height / 1.5;
    width: $icon-height / 1.5;
    min-height: $icon-height / 1.5;
    min-width: $icon-height / 1.5;
  }
}
