.streaming-platforms {
  display: flex;
  flex-direction: row;
  gap: $spacing-base * 2;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  .streaming-platform-button {
    width: $icon-height * 2;
    height: $icon-height * 2;
    color: $color-text;

    .icon {
      width: $icon-height * 2;
      height: $icon-height * 2;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      color: $color-link-hover;
    }
    &:active {
      color: $color-link-active;
    }
  }
}
