{{ define "main" }}
  <div class="container content container-bg" role="main">
    <article role="main">
      <div class="header album-header">
        <h1 class="album-heading">{{- .Title -}}</h1>
        <div class="album-metadata">
          {{- partial "release-type" .Params.ReleaseType -}}
          <span>
            {{- if .Params.released -}}
              Release date:
              {{ .Date | time.Format ":date_long" }}
            {{- else -}}
              Coming soon
            {{- end -}}
          </span>
          {{- if .Params.label -}}
            <span class="bullet">&#8226;</span>
            <span>
              <a href="{{ .Params.labelUrl }}">
                {{- .Params.label -}}
              </a>
            </span>
          {{- end -}}
        </div>
      </div>
      {{- partial "album-info" . -}}
      {{- if .Params.quotes -}}
        <h2>Press Reviews</h2>
        <div class="album-press-quotes">
          {{- range sort .Params.quotes "date" -}}
            {{- partial "press-quote" . -}}
          {{- end -}}
        </div>
      {{- end -}}
      {{ .Content }}
    </article>
  </div>
{{ end }}
