{{- $path := .Get 0 -}}
{{- $fit := .Get 1 -}}
{{- $alt := .Get 2 -}}
{{- $link := .Get 3 -}}
{{- $cssClass := .Get 4 -}}
{{- $credit := .Get 5 -}}

{{- if not $fit -}}
{{- $fit = "600x600 q90 Lanczos Smart" -}}
{{- end -}}

{{- if $path -}}
  {{- $resource := .Page.Resources.Get $path -}}
  {{- if $resource -}}
    {{- $resizedImage := $resource.Fit $fit -}}
    {{- if (eq $link "no") -}}
      <img class="responsive-img {{ $cssClass }}" alt="{{ $alt }}" src="{{- $resizedImage.Permalink -}}" loading="lazy" />
    {{- else -}}
      <a class="responsive-img with-legend {{ $cssClass }}"
          title="Click for high-resolution version"
          href="{{- $resource.Permalink -}}">
        <img alt="{{ $alt }}" src="{{- $resizedImage.Permalink -}}" loading="lazy" />
        {{- with $alt -}}
        <div class="img-legend">
          {{- $alt -}}
          {{- with $credit -}}
          <div class="img-legend-credit">&copy;&nbsp;{{- $credit -}}</div>
          {{- end -}}
        </div>
        {{- end -}}
      </a>
    {{- end -}}
  {{- else -}}
    {{- if (eq $link "no") -}}
      <img class="responsive-img {{ $cssClass }}" alt="{{ $alt }}" src="{{- $path -}}" loading="lazy" />
    {{- else -}}
      <a class="responsive-img with-legend {{ $cssClass }}"
         title="Click for high-resolution version"
         href="{{- $path -}}">
        <img alt="{{ $alt }}" src="{{- $path -}}" loading="lazy" />
        {{- with $alt -}}
        <div class="img-legend">
          {{- $alt -}}
          {{- with $credit -}}
          <div class="img-legend-credit">Credit: {{- $credit -}}</div>
          {{- end -}}
        </div>
        {{- end -}}
      </a>
    {{- end -}}
  {{- end -}}
{{- end -}}
