{{- $images := slice -}}
{{- $shortcode := . -}}
{{- $page := .Page -}}

{{- range seq 3 -}}
  {{- $i := sub . 1 -}}
  {{- with ($shortcode.Get $i) -}}
    {{- $images = $images | append . -}}
  {{- end -}}
{{- end -}}


<div class="photo-gallery">
  {{- range $images -}}
    {{- $img := $page.Resources.GetMatch . -}}
    {{- $resizedImg := $img.Fit "500x500 q85 Lanczos Smart" -}}
    <a href="{{ $img.RelPermalink }}">
      <img alt="{{ $img.Name }}" src="{{ $resizedImg.RelPermalink }}" />
    </a>
  {{- end -}}
</div>
