<li class="music-list-item">
  <a class="music-list-item-content" href="{{ .Permalink }}">
    <!-- Image -->
    {{- $cover := .Resources.GetMatch .Params.cover -}}
    {{- with $cover -}}
      {{- $resizedCover := .Fit "500x500 webp" -}}
      <img alt="{{ .Title }} album cover" class="music-list-item-cover" src="{{ $resizedCover.RelPermalink }}" />
    {{- end -}}
    <!-- Overlay -->
    <div class="music-list-item-metadata">
      <div class="music-list-item-title">{{- .Title -}}</div>
      <div class="music-list-item-info">
        {{- partial "release-type" .Params.ReleaseType -}}
        <div class="music-list-item-date">
          {{- if .Params.Released -}}
            {{- .Date.Format "02/01/2006" -}}
          {{- else -}}
            Coming soon
          {{- end -}}
        </div>
      </div>
    </div>
  </a>
</li>
