{{- $pc := site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
  {{- $ytHost := cond $pc.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" -}}
  <div class="youtube-video">
    <iframe src="https://{{ $ytHost }}/embed/{{ .id }}{{ with .autoplay }}{{ if eq . "true" }}?autoplay=1&mute=1{{ end }}{{ end }}" allowfullscreen title="YouTube Video"> </iframe>
  </div>
{{- end -}}
