{{ define "main" }}
  <div class="container content container-bg" role="main">
    <article role="main">
      <div class="list-header">
        <h1>{{ .Title }}</h1>
      </div>
      {{ .Content }}
    </article>
    <ul class="list-items">
      {{ range .Pages.ByDate }}
        <li class="list-item">
          <a class="list-item-content" href="{{ .Permalink }}">
            <div class="list-item-title">{{- .Title -}}</div>
            <div class="list-item-metadata">
              <div class="list-item-type">{{- .Params.Type -}}</div>
              <div class="list-item-date">{{- .Date.Format "02/01/2006" -}}</div>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
