{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="error-404">
      <h1>Page Not Found</h1>
    </div>
  </div>
{{ end }}
