{{ define "main" }}
  <div role="main" class="home container content">
    {{- $albumCoverResource := resources.Get "img/album-cover.png" -}}
    {{- $resizedAlbumCoverResource :=  $albumCoverResource.Fit "600x600 jpg" -}}
    {{- $albumTitleResource := resources.Get "img/album-title.svg" -}}
    <div class="hero">
      <div>First album out since November 11, 2021.</div>
      <img alt="More or Less Forever album title" class="album-title" src="{{ $albumTitleResource.Permalink }}" />
      <a class="featured-release" href="music/albums/more-or-less-forever">
        <img alt="More or Less Forever album cover" src="{{ $resizedAlbumCoverResource.Permalink }}" />
      </a>
      <div>11 tracks of 90s-infused Alternative Rock.</div>
      {{- $moreOrLessForeverPage := site.GetPage "/music/albums/more-or-less-forever" -}}
      {{- partial "streaming-platforms" $moreOrLessForeverPage.Params.platforms -}}
      {{- partial "button" (dict
        "text"  "More information about the album"
        "url"   $moreOrLessForeverPage.RelPermalink
        "class" "more-info"
        )
      -}}
      <div class="album-press-quotes home-press-quotes">
        {{- $firsQuote := index $moreOrLessForeverPage.Params.quotes 0 -}}
        {{- partial "press-quote" $firsQuote -}}
      </div>
      <a href="{{ site.Params.platforms.shop }}" class="cd-ad" target="_blank" rel="noopener noreferrer">
        {{- partial "icon" "cd" -}}
        <div class="cd-add-text">
          <div class="cd-add-text-line1">Now available on CD!</div>
          <div class="cd-add-text-line2">Worldwide shipping</div>
        </div>
      </a>
      <h2>Our latest music video</h2>
      {{- partial "youtube-video" (dict "id" "EYG3IJCXtrQ" ) -}}


      <h2>Our Christmas song is out since Dec. 20!</h2>
      <a class="featured-release" href="music/singles/winter-letter">
        {{- $winterLetterPage := .GetPage "/music/singles/winter-letter" -}}
        {{- $winterLetterCoverResource := $winterLetterPage.Resources.Get "cover.jpg" -}}
        {{- $resizedWinterLetterCoverResource :=  $winterLetterCoverResource.Fit "600x600 jpg" -}}
        <img alt="Winter Letter single cover" src="{{ $resizedWinterLetterCoverResource.Permalink }}" />
      </a>

      <h2>Book us!</h2>
      {{- partial "linkaband-verification" -}}
    </div>
  </div>
{{ end }}
